<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <title>Tabula Rasa</title>
  </head>
  <body>
    <div id="signInOut">
      <% if session[:user_id] %>
        <a href="/sign-out">Sign Out</a>
      <% else %>
        <a href="/">Sign In</a>
      <% end %>
    </div>


   <div class="flash-message">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>




    <div id="centerContent">
      <%= yield %>
    </div>






    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
