<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <title>Tabula Rasa</title>
  </head>
  <body>

    <div id="signInOut">

      <% if session[:user_id] %>

        <form action="/sign-out">
          <input class="btn" type="submit" value="Sign out">
        </form>

      <% else %>

        <form action="/">
          <input class="btn" type="submit" value="Sign in">
        </form>

      <% end %>
    </div>


   <div class="flash-message">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>



      <%= yield %>





    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
