<div class="content">
  <nav>
    <ul>
      <li><a href="/feed">feed</a></li>
    </ul>
  </nav>

  <div class="postDisplay">

    <h1> <%= @user.fname.capitalize %> <%= @user.lname.capitalize %></h1>

    <button id="edit" type="button" name="button">edit account info</button>

    <form id ="editForm" action="/profile" method="post">

      <label>First Name</label>
      <input type="text" name="[user]fname">

      <label>Last Name</label>
      <input type="text" name="[user]lname">

      <label>Password</label>
      <input type="password" name="[user]password">

      <input type="submit" value="edit">

    </form>

  </div>


  <form action="/account_delete">
      <input type="submit" value="delete account">
  </form>

  <h3>Post History</h3>

  <% @user.posts.each do |post| %>

    <div class="postDisplay">

      <%= post.title.upcase %>
      <%= post.content %>

    </div>

  <% end %>

</div>
