<h1>Sign In</h1>


<form method="post" action="/sign_in">
  <label for="name">Name</label>
  <input type="text" name="[user]fname">

 <label for="password">Password</label>
  <input type="password" name="[user]password">

 <input type="submit">

</form>

<form action="/sign_up">
    <input type="submit" value="sign up">
</form>
