<div class="content">

  <form method="post" action="/sign_up">

    <label for="name">First Name</label>
    <input type="text" name="[user]fname">

    <label for="name">Last Name</label>
    <input type="text" name="[user]lname">

   <label for="password">Password</label>
    <input type="password" name="[user]password">

   <input class="btn" type="Submit">

  </form>

  <h1 id="land">Tabula Rasa</h1>

</div>
