<!-- don't delete embedded style, this page won't style without it  -->
<style media="screen" type="text/css">

/*layout styling*/
body {
  background-image: url("/images/chalkboard_background.jpg");
  font-family: 'Caveat Brush', cursive;
  color: white;
}

/*centers content*/
.content {
  position: relative;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 500px;
}

h1 {
  font-size: 40px;
  width: 500px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid white;
}

h3  {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  display: inline;
  font-size: 20px;
}

span {
  display: block;
  padding-right: 10px;
}

/*this styles the landing page title Tabula Rasa*/
#land {
  font-size: 100px;
  border: none;
  text-align: center;
}

/*button style*/
.btn {
  background-color: white;
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  font-weight: bold;
  color: black;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.btn2 {
  background-color: white;
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  font-weight: bold;
  color: black;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

/*links*/
a {
  font-family: "Helvetica", sans-serif;
  font-size: 10px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*navigation*/
nav a {
  font-size: 15px;
}

nav li {
  list-style-type: none;
}

</style>




<!-- visit_profile page html starts here -->
<div class="content">
  <nav>
    <ul>
      <li><a href="/feed">feed</a></li>
      <li><a href="/profile">profile</a>
    </ul>
  </nav>

  <div class="postDisplay">

    <h1> <%= @user.fname.capitalize %> <%= @user.lname.capitalize %></h1>

  </div>


  <div class="postHistory">

    <h3>Post History</h3>

    <% @user.posts.each do |post| %>

      <div class="postDisplay">

        <p id="pFeed"> <%= post.title.capitalize %> : <%= post.content %></p>

      </div>

    <% end %>
  </div>

  </div>
